input[type="number"] {
	text-align: right;
}
.pill {
	display: inline-block;
	padding: .25em .4em;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
}
.pill.pill-active {
	color: #fff;
	background-color: #28a745;
}
.pill.pill-inactive {
	color: #fff;
	background-color: #dc3545;
}